<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <loki_theme>
            <general>
                <themes>Loki/luma,Loki/base</themes>
            </general>
        </loki_theme>
    </default>
</config>
