<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer
            name="LokiTheme_LumaComponents::applyLayoutHandles"
            instance="LokiTheme\LumaComponents\Observer\ApplyLayoutHandles"
        />
    </event>

    <event name="view_block_abstract_to_html_after">
        <observer
            name="LokiTheme_LumaComponents::removeLegacyBindings"
            instance="LokiTheme\LumaComponents\Observer\RemoveLegacyHtmlBindings"
        />
        <observer
            name="LokiTheme_LumaComponents::addAlpineComponents"
            instance="LokiTheme\LumaComponents\Observer\AddAlpineComponents"
        />
        <observer
            name="LokiTheme_LumaComponents::addJsComponents"
            instance="LokiTheme\LumaComponents\Observer\AddJsComponents"
        />
        <observer
            name="LokiTheme_LumaComponents::addBlockHints"
            instance="LokiTheme\LumaComponents\Observer\AddBlockHints"
        />
    </event>
</config>
